<h1>Blogs</h1>

<%= form_with url: blogs_path, method: :get, local: true do %>
  <%= label_tag :search, "Search by title:" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<br>

<%= link_to "New Blog", new_blog_path %>

<hr>

<%= render @blogs %>

<% if @blogs.empty? %>
  <p><em>No blogs found.</em></p>
<% end %>
