<h1>Blogs</h1>

<p>
  <%= link_to "New Blog", new_blog_path %> |
  <%= link_to "Published Blogs", blogs_path %> |
  <%= link_to "Draft Blogs", drafts_blogs_path %>
</p>

<% @blogs.each do |blog| %>
  <%= render blog %>
<% end %>

<div>
  <% if @current_page > 1 %>
    <%= link_to "Previous", blogs_path(page: @current_page - 1) %>
  <% end %>

  <%= link_to "Next", blogs_path(page: @current_page + 1) %>
</div>
