<h1>Blogs</h1>

<% @blogs.each do |blog| %>
  <%= render blog %>
<% end %>

<div class="pagination">
  <% prev_page = @current_page - 1 %>
  <% next_page = @current_page + 1 %>

  <% if prev_page > 0 %>
    <% if @mode == :drafts %>
      <%= link_to "Previous", drafts_blogs_path(page: prev_page) %>
    <% else %>
      <%= link_to "Previous", blogs_path(page: prev_page) %>
    <% end %>
  <% end %>

  <% if @blogs.size == BlogsController::PER_PAGE %>
    <% if @mode == :drafts %>
      <%= link_to "Next", drafts_blogs_path(page: next_page) %>
    <% else %>
      <%= link_to "Next", blogs_path(page: next_page) %>
    <% end %>
  <% end %>
</div>
