<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<% unless @blog.published? %>
  <%= button_to "Publish Blog", publish_blog_path(@blog), method: :patch %>
<% end %>

<hr>

<h3>Comments</h3>

<% @blog.comments.each do |comment| %>
  <p>
    <%= comment.body %>
    <%= button_to "Delete",
                  blog_comment_path(@blog, comment),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  </p>
<% end %>

<% if @blog.published? %>
  <h4>Add Comment</h4>

  <%= form_with(model: [@blog, Comment.new]) do |form| %>
    <p>
      <%= form.text_area :body %>
    </p>

    <%= form.submit "Add Comment" %>
  <% end %>
<% else %>
  <p><em>Comments are allowed only after publishing.</em></p>
<% end %>

<br>

<%= link_to "Back", blogs_path %>
